.row.post
  .col-2
    = image_tag post.user.avatar, class: "border.rounded-circle.w-100"
  .col-10
    %p
      %span.text-secondary
        %strong= "@#{post.user.name}"
        = "#{time_ago_in_words(post.created_at)}前"
    = post.body