!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 
      = page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    .container.py-4.px-0
      - flash.each do |key, value|
        - key = "info" if key == "notice"
        - key = "danger"  if key == "alert"
        = content_tag :div, value, class: "alert alert-#{key}"
      = yield
    = render 'layouts/footer'
